{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Manager</title>
    <link rel="stylesheet" href="{% static "frontend/bootstrap.min.css" %}">
</head>
<body>
    <div id="app"></div>
    {% load static %}
    <script src="{% static "frontend/jquery.min.js" %}"></script>
    <script src="{% static "frontend/popper.min.js" %}"></script>
    <script src="{% static "frontend/bootstrap.min.js" %}"></script>
    <script src="{% static "frontend/main.js" %}"></script>
</body>
</html>